<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.amanda.overripepantry">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        android:debuggable="true"
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".GroceryLists"
                android:label="@string/title_activity_grocery_lists"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.amanda.overripepantry.MainActivity"/>
        </activity>
        <activity
                android:name=".Inventory"
                android:label="@string/title_activity_inventory"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.amanda.overripepantry.MainActivity"/>
        </activity>
        <activity
                android:name=".InventoryEntry"
                android:label="@string/title_activity_inventory_entry"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.amanda.overripepantry.MainActivity"/>
        </activity>
    </application>

</manifest>